<h2>Home Page</h2>
<%= link_to 'Hide Role', roles_path, remote: true, id: 'hide_roles', class: "btn d_btn btn-success" %>
<%= link_to 'Show Users', users_path, remote: true, id: 'users', class: "btn d_btn btn-success" %>